*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/*.tflite
# DO NOT ignore gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar
